.card {
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow: hidden;

    background-position: center;
    background-image: url("../assets/tiger.jpg");
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
}

.card .card__properties {
    padding: 5px;
    height: 30px;
    width: 100%;
    background-color: var(--opponent-color);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_gamer .card__properties {
    background-color: var(--gamer-color);
}

